html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    border: 1em solid #64D0FE;
}

:target::before {
    content: "";
    display: block;
    height: 90px;
    margin: -90px 0 0;
}

.header {
    background-color: black;
    padding: 2em;
    height: 2em;
    width: 92.65%;
    position: fixed;
    top: 0;
    z-index: 100;
    font-size: 1.25em;
    font-weight: bold;
}

.header p {
    display: inline;
    color: white;
    font-size: 2em;
    margin-bottom: 1em;
    letter-spacing: .02em;
}

.header nav {
    float: right;
    margin-right: 5em;
}

.header nav span {
    padding: .5em;
}

.header nav span a {
    border: .1em solid white;
    color: white;
    border-radius: 1em;
    text-decoration: none;
    padding: .3em 1em;
    transition: .2s;
}

.header nav span a:hover {
    color: black;
    background-color: #64D0FE;
}

#home {
    margin-top: 20em;
    margin-left: 10em;
    line-height: 2em;
}

#home h1 {
    color: #64D0FE;
    font-size: 6em;
    -webkit-text-stroke: .02em white;
}

#home p {
    color: white;
    font-size: 3em;
    font-weight: bold;
}

#home a {
    border: .1em solid #64D0FE;
    border-radius: 1em;
    color: #64D0FE;
    font-size: 1.35em;
    font-weight: bold;
    text-decoration: none;
    padding: .3em 1em;
    transition: .2s;
}

#home a:hover {
    color: black;
    background-color: #64D0FE;
    border-color: white;
}


#about {
    margin-top: 15em;
    /* margin-right: 10em;
    margin-left: 10em; */
    line-height: 2.5em;
}

#about-separator {
    border-top: 3px solid white;
    margin-left: 5em;
    margin-right: 5em;
}

.heading-text {
    color: #64D0FE;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    -webkit-text-stroke: .02em white;
}

#about-text {
    color: white;
    text-align: left;
    font-size: 1.5em;
    margin-left: 6em;
    margin-right: 6em;
}

#skills {
    margin-top: 10em;
}

#skills-separator {
    border-top: 3px solid white;
    margin-left: 5em;
    margin-right: 5em;
}

.containers {
    /* display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 2em; */
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-items: center;
    background: lightblue;
    grid-gap: 2em;
}

.box {
    grid-column: 5;
    grid-row: 5;
}