html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
/* *{
    outline: .5px red dashed;;
} */

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    border: 3em solid #64D0FE;
}

:target::before {
    content: "";
    display: block;
    height: 90px;
    margin: -90px 0 0;
}

.header {
    background-color: black;
    padding: 2em;
    height: 2em;
    width: 88.4%;
    position: fixed;
    top: 0;
    z-index: 100;
    font-size: 1.25em;
    font-weight: bold;
}

.header p {
    display: inline;
    color: white;
    font-size: 2em;
    margin-bottom: 1em;
    letter-spacing: .02em;
}

.header nav {
    float: right;
    margin-right: 5em;
}

.header nav span {
    padding: .5em;
}

.nav-button {
    color: white;
    text-decoration: none;
    position: relative;
    padding: .2em;
}

.nav-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: .2em;
    bottom: 0;
    left: 0;
    background-color: #64D0FE;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
  }

.nav-button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#home {
    margin-top: 20em;
    line-height: 2em;
    text-align: center;
}

#home h1 {
    color: #64D0FE;
    font-size: 8em;
    -webkit-text-stroke: .02em white;
}

#home p {
    color: white;
    font-size: 4em;
    font-weight: bold;
}

#home a {
    border: .1em solid #64D0FE;
    border-radius: 1em;
    color: #64D0FE;
    font-size: 1.35em;
    font-weight: bold;
    text-decoration: none;
    padding: .3em 1em;
    transition: .5s;
}

#home a:hover {
    color: black;
    background-color: #64D0FE;
    border-color: white;
}


#about-section {
    margin-top: 15em;
    line-height: 2.5em;
}

.separator {
    border-top: 3px solid white;
    margin-left: 5em;
    margin-right: 5em;
}

.heading-text {
    color: #64D0FE;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    -webkit-text-stroke: .03em white;
}

.body-text {
    color: white;
    text-align: left;
    font-size: 1.5em;
    margin-left: 150px;
    margin-right: 150px;
}

#skills-section {
    margin-top: 10em;
    text-align: center;
}

#skills-section h2 {
    margin-bottom: .5em;
}

#skills-section p {
    text-align: center;
}

.container {
    margin-top: 3em;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.box {
    background-color: #64D0FE;
    width: 10em;
    height: 10em;
    border: none;
    border-radius: 2em;
}

/* Makes all logos the same width */
.box img{
    width: 5em;
    margin-top: 1em;
}

/* Makes logos that are too big smaller */
.smaller-logo {
    width: 4.3em !important;
}

.box p{
    margin-top: .5em;
    font-size: 1.25em;
}

#projects-section {
    margin-top: 10em;
}

#projects-section h2 {
    margin-bottom: .2em;
}

#projects-section p {
    text-align: center;
}

.card {
    background-color: black;
    border: 1em double #64D0FE;
    width: 22em;
    height: 28em;
    padding: .5em;
}

.card img {
    width: 22em;
}

.project-heading {
    color: white;
    font-size: 1.2em;
    text-decoration: underline;
}

.project-tag {
    color:#a2a2a2;
    font-size: 1em;
}

.project-description {
    color: white;
    font-size: 1em;
    margin-bottom: 2em;
}

.center-project-buttons {
    text-align: center;
}

.project-button {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    border: .1em solid white;
    border-radius: 1em;
    padding: .6em;
}

.project-button:hover {
    color: black;
    border-color: #64D0FE;
    background-color: #64D0FE;
}

#contact-section {
    color: black;
    background-color: #64D0FE;
    margin-top: 5em;
    text-align: center;
    padding: 2em;
}

.contact-heading {
    font-size: 3.5em;
    /* margin-left: 150px; */
    margin-top: 2em;
    margin-bottom: 0;
}

.contact-body {
    font-size: 1.2em;
    /* margin-left: 150px; */
    color: #212121;
}

.contact-links {
    /* margin-left: 140px; */
}

.contact-links img {
    width: 2.5em;
    border: .1em solid black;
    border-radius: 2em;
    padding: .3em;
    transition: .5s;
    margin-bottom: 15em;
}

.contact-links span {
    padding: .5em;
}

.contact-links img:hover {
    background-color: white;
}

.contact-from {
    display: block;
}